 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat+Alternates:wght@300;400;500;600;700&family=Montserrat:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: rgb(255, 255, 255);
}





h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
}

p,
li {
  line-height: 1.5rem;
  font-family: "Roboto Slab", serif;
  padding: 1rem 0rem;
  font-size: 1.1rem;
}

ol,
ul {
  padding-left: 1.5rem;
}


@media screen and (max-width: 768px) {
  body {
    margin: 0% 0%;
  }
  nav {
    padding: 3rem 0rem;
  }
}