.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
  background-color: black;
}

@media screen and (max-width: 768px) {
  .main {
  }
}