.navbar{
    background-color: #00263C;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10vw 0% 10vw;
    
  
}

.navbar a{
    text-decoration: none;
    font-family: Montserrat Alternates;
    font-weight: 400;
    padding: none;
    margin: none;
    
}
