.blog{
  background-color: #f2f0ea;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 0 0 1rem 0;
  font-family: Exo;
  font-weight: 700;
  margin-left: 7rem;
  font-size: 1em;
  font-weight: 800;
}

.title h2 {
  padding-top: 1rem;
}

.title h3{
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 100;
}

.blog code {
  font-size: 1.2rem;
  background: rgb(55, 55, 55);
  color: rgb(246, 246, 246);
  display: block;
  padding: 1rem;
  margin: 2rem 0rem;
  border-radius: 2rem;
}

.contain{
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
}
.content{
  font-family: Andika;
  text-align: justify;
  padding-right: 8rem;
  padding-left: 2rem;
  font-size: 1em;
  border-right: thin solid rgb(203, 203, 203);
  line-height: 1.7;
}
.indent{
  padding: 2rem;
  background-color: red;
}
.content img {
  width: 45rem;
  height: 35rem;
  object-fit: cover;
  padding: 2rem 0;
}

.about{
  width: 100vw;
  height: 10vh;
  
}

@media screen and (max-width: 768px) {
  .blog {
    margin: 0rem 2rem;
  }
  .content {
    width: 100%;
  }
  .content img {
    width: 100%;
  }
}