.blog{
  background-color: #f2f0ea;
  display: flex;
  flex-direction: column;
}

.title {
  padding-top: 1rem;
  color: black;
  font-family: Lato;
  margin-left: 7rem;
  font-size: 1em;
  font-weight: 800;
}

.title h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}


.blog code {
  font-size: 1.2rem;
  background: rgb(55, 55, 55);
  color: rgb(246, 246, 246);
  display: block;
  padding: 1rem;
  margin: 2rem 0rem;
  border-radius: 2rem;
}

.contain{
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
}
.content{
  font-family: Montserrat;
  text-align: justify;
  padding: 0 2rem;
  font-size: .8em;
}

.content img {
  width: 40rem;
  height: 40rem;
  padding: 1rem;
  background-color: red;
  object-fit: contain;
}

.about{
  width: 150vw;
  height: 10vh;
  background-color: red;
}

@media screen and (max-width: 768px) {
  .blog {
    margin: 0rem 2rem;
  }
  .content {
    width: 100%;
  }
  .content img {
    width: 100%;
  }
}